body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
  background: #efefef;
  padding-top: 100px;
  font-size: 16px;
}
.wrapper {
  border: 1px solid #dadada;
  background: white;
  padding: 30px;
}
.wrapper h1 {
  font-size: 2em;
}
.intro {
  font-size: 14px;
  margin-bottom: 24px;
}
.form-group {
  overflow: visible;
}
legend {
  margin-bottom: 10px;
}
label {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}
.input {
  display: inline-block;
  width: 100%;
}
.input .placeholder {
  position: absolute;
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  padding: 6px 12px 6px 13px;
  color: #bababa;
  font-size: 1.12em;
  z-index: 1;
  cursor: text;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
}
.input input {
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  padding: 6px 12px 6px 12px;
  border: 1px solid #dadada;
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
}
.input input:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  border: 1px solid #68c9eb;
}
.input input:focus .placeholder {
  display: none;
}
label.error {
  cursor: default;
  list-style: none;
  white-space: nowrap;
  color: white;
  background: #ac0000;
  position: absolute;
  padding: 0 10px;
  line-height: 2;
  font-size: 14px;
  left: 15px;
  top: -30px;
  border-radius: 2px;
  z-index: 10;
}
label.error:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: #ac0000 transparent transparent transparent;
  left: 15%;
  top: 28px;
  margin-left: -8px;
}
.btn {
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
}
#zip {
  width: 60%;
}
