body {
  font-family: 'Droid Sans', sans-serif;
  background: #efefef;
  padding-top: 100px;
  font-size: 16px;
}
.wrapper {
  border: 1px solid #dadada;
  background: white;
  padding: 30px;
}
.wrapper h1 {
  font-size: 2em;
}
.intro {
  font-size: 14px;
  margin-bottom: 24px;
}
.form-group {
  overflow: visible;
}
legend {
  margin-bottom: 10px;
}
label {
  font-weight: normal;
}
.input {
  display: inline-block;
  width: 100%;
}
.input .placeholder {
  position: absolute;
  font-weight: normal;
  padding: 8px 12px 6px 13px;
  color: #bababa;
  z-index: 1;
  cursor: text;
  pointer-events: none;
}
.input input {
  width: 100%;
  font-weight: normal;
  padding: 7px 12px 6px 12px;
  border: 1px solid #dadada;
  background-color: #f6f6f6;
  box-shadow: none;
}
.input input:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  border: 1px solid #68c9eb;
}
.input input:focus .placeholder {
  display: none;
}
label.error {
  cursor: default;
  list-style: none;
  white-space: nowrap;
  color: white;
  background: #ac0000;
  position: absolute;
  padding: 0 10px;
  line-height: 2;
  font-size: 14px;
  left: 15px;
  top: -30px;
  border-radius: 2px;
  z-index: 10;
}
label.error:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid;
  border-color: #ac0000 transparent transparent transparent;
  left: 15%;
  top: 28px;
  margin-left: -8px;
}
.btn-lg {
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  padding: 6px 18px;
}
#zip {
  width: 60%;
}
.twirl {
  -webkit-transition: all 100s linear;
  -moz-transition: all 100s linear;
  -ms-transition: all 100s linear;
  -o-transition: all 100s linear;
  transition: all 100s linear;
}
.twirl.active {
  -webkit-transform: rotate(1080deg);
  -moz-transform: rotate(1080deg);
  -o-transform: rotate(1080deg);
  -ms-transform: rotate(1080deg);
  transform: rotate(1080deg);
}
